<header>
  <img src="/images/hradar.png" id="logo">
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/Contact">Contact</a></li>
    </ul>
  </nav>
</header>
<hr>
