<style>
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<h1>The Airport you have visited is under construction, fly back <a href="http://localhost:3000/">HOME</a> !</h1>
<a href="/"><img src="/images/error.png" alt="Error image"></a>
