<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <div id="preloader"></div>
  <%- include('./partials/nav.ejs') %>
  <div id="map"></div>
  <hr>
  <%- include('./partials/footer.ejs') %>
</body>
</html>